<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- Add trace sources for WCF -->
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="WcfTraces" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfTraces.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="WcfTraces" />
        </listeners>
      </source>
      
      <!-- Add trace source for networking -->
      <source name="System.Net" tracemode="includehex" maxdatasize="16384">
        <listeners>
          <add name="System.Net" />
        </listeners>
      </source>
    </sources>
    
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="SourceSwitch" value="Verbose" />
    </switches>
    
    <sharedListeners>
      <add name="WcfTraces" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfTraces.svclog" />
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="sysnet.log" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
